pydantic
booktype
pytest-celery[redis]
celery
pika
dependency_injector
sqlmodel

aiosqlite
greenlet

fastapi[standard]
sqlalchemy
aiofiles
sse_starlette
httpx
asgi-lifespan

redis==6.2.0

asgiref
aiodocker
pytest
pytest-asyncio>=1.2.0
pydantic_settings