<!DOCTYPE html>
<html>
   <body>
      <input type="file" id="fileInput" name="files" onchange="reset()" multiple><br>
      <input type="button" value="Submit" onclick="submitUsingFetch()">
      <p id="response"></p>
      <script>
         var resp = document.getElementById("response");

         function reset() {
            resp.innerHTML = "";
         }

         function submitUsingFetch() {
            var fileInput = document.getElementById('fileInput');
            if (fileInput.files[0]) {
               var formData = new FormData();
               var headers = new Headers();
               formData.append("data", "Hello World!");

               var i = 0;
               for (const file of fileInput.files) {
                  filename = encodeURI(file.name);
                  headers.append(`filename${i}`, filename);
                  formData.append(`file${i}`, file, filename);
                  i++;
               }

               fetch('/upload', {
                     method: 'POST',
                     headers: headers,
                     body: formData,
                  })
                  .then(response => response.json())  // or, response.text(), etc.
                  .then(data => {
                     resp.innerHTML = JSON.stringify(data);  // data is a JSON object
                  })
                  .catch(error => {
                     console.error(error);
                  });
            }
         }
      </script>
   </body>
</html>